@import '../node_modules/bulma/bulma.sass';
@import "../node_modules/font-awesome/scss/font-awesome.scss";
@import '../node_modules/hover.css/scss/hover.scss';

.table {
    margin-left: auto;
    margin-right: auto;
}

.conteudo {
    margin-top: 1rem;
}

.novo-cidadao {
    form {
        margin-bottom: 8rem;
        padding: 0 10rem;
    }
}

.icon-rota {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}